@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
    /* --color-primary: #e85c41;
  --color-lightOrange: #ffece7; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1e40af; /* Your blue color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e85c41; /* Hover color */
}

/* Fix Chrome Autofill Styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #1b2b65 !important; /* blue-900 */
  transition: background-color 5000s ease-in-out 0s;
  /* box-shadow: 0 0 0px 1000px white inset !important; background color */
  border: 1px solid #ccc !important;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}
@theme {
  /* --color-primary: var(--primary);
  --color-lightOrange:var(--background); */
  --color-primary: #e85c41;
  --color-lightOrange: #ffece7;
  --color-blue:#1b2b65
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}
.abhishek-singh{
  text-decoration: underline !important;
}
#anurag{

}